
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}


.cursor {
  cursor: pointer;
}
.header {
  height: 100vh;
  overflow-x: hidden;
}
.header nav {
  background-color: rgba(100, 148, 237, 0.253);
  color: #333;
  padding: 7.5px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header nav .user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header nav .user-content .user-img {
  width: 40px;
  height: 40px;
  position: relative;
}
.header nav .user-content .user-img::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00eb00;
}
.header nav .user-content .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header nav .user-content .control {
  font-size: 14px;
  color: #4e4e4e;
  position: relative;
  min-height: 60px;
  line-height: 60px;
  display: block;
}
.header nav .user-content .control .user-control {
  position: absolute;
  bottom: -145px;
  left: 0;
  background-color: rgba(100, 148, 237, 0.883);
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.header nav .user-content .control:hover .user-control {
  opacity: 1;
  pointer-events: auto;
}
.header nav .user-content .control .user-control ul {
  list-style: none;
}
.header nav .user-content .control .user-control ul li {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 5px;
  transition: 0.3s;
}
.header nav .user-content .control .user-control ul li:hover {
  background-color: white;
  color: rgba(100, 148, 237, 0.883);
}
.header nav .user-content .control .user-control ul li:not(:last-of-type) {
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.883);
}
.header nav .user-content .control i {
  font-size: 11px;
  margin-left: 2px;
}
.header nav .user-content > i {
  font-size: 20px;
  margin-left: 5px;
}
.header nav .user-content > i:hover {
  animation: flash 0.5s 6 both;
}
@keyframes flash {
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
}
.header nav .search-box {
  position: relative;
  width: 280px;
}
.header nav .search-box input {
  padding: 5px 38px;
  color: #999;
  direction: rtl;
  border: none;
  border-radius: 25px;
  outline: none;
  width: 100%;
  font-size: 16px;
}
.header nav .search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #909090;
}
.header nav .burger i {
  font-size: 26px;
}
/* Start Sidebar */
.sidebar {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background: linear-gradient(0deg, rgb(0 87 255 / 90%), rgb(0 87 255 / 90%)),
    url(".././image/sidebar.jpg");
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.sidebar.active {
  opacity: 1;
  pointer-events: auto;
  height: 930px;
}

.sidebar .side-img {
  width: 100%;
  height: 60px;
  
}
.sidebar .side-img img {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(0deg, rgb(0 87 255 / 90%), rgb(0 87 255 / 90%));
  object-fit: cover;
}

.sidebar .side-bar-items {
  padding-right: 15px;
}
.sidebar .side-bar-items ul {
  text-align: right;
  margin-top: 35px;
  font-weight: bold;
}
.sidebar .side-bar-items ul li {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #333;
  border-top-right-radius: 25px;
  font-size: 22px;
  border-bottom-right-radius: 25px;
  list-style: none;
}
.sidebar .side-bar-items ul li i {
  margin-left: 5px;
}

 





.form-inline{
    margin-left: 500px;
   

}
.form-control{
    border-radius: 50px;
    text-align: center;
}
.fa-search{
    position: relative;
    right:60px;
}
.drop{
  
  width: 100%;
    display: inline-flex;
    justify-content: space-around;
    position: relative;
  top: -580px;
    right:50px;

  
}
.drop button,input{
    border-radius: 30px;
    border: 1px solid black;
    margin-right: 20px;
  width: 225px;
    height: 40px;
   text-align: right;
  padding:0px 10px 0px 0px;
   
}
.home {
  position: relative;
  left: 1100px;
}
.home p{
  font-size: 30px;
  font-weight: bold;
}
.home h6{
  font-size: 20px;
  font-weight: bold;
}

.table{   
width: 100%;
    text-align: center;
    height: 30px;
    position: relative;
    top:-280px;
 right: 60px;

    
}
.table .accpted{
   margin: auto;
   text-align: center;
   font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  transform-origin: center;
 
}

.table td input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
   
}

.table .btn-group button{
    margin-right: 10px;

}
.rating {
    
    --dir: right;
    --fill: #006AFF;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 1.8rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }
  
  /* NO JS */
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }
  @media(max-width:500px){
    
.home{
  position: relative;
  left: 200px;
  top: -100px;
}
.home p{
  font-size: 30px;
  font-weight: bold;
}

.form-inline{
    margin-left: 500px;
   

}
.form-control{
    border-radius: 50px;
    text-align: center;
}
.fa-search{
    position: relative;
    right:60px;
}
.drop{
  
  width: 100%;

    display: inline-flex;
    justify-content: space-around;
    position: relative;
    top: 120px;
    right:100px;

  
}
.drop button,input{
    border-radius: 30px;
    border: 1px solid black;
    margin-right: 20px;
  width: 150px;
    height: 40px;
   text-align: right;
  padding:0px 10px 0px 0px;
   
}
.table{
   
width: 20%;
    text-align: center;
    height: 30px;
    position: relative;
    top: 50px;
 right: 0px;

    
}
.table .accpted{
   margin: auto;
   text-align: center;
   font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  transform-origin: center;
 
}

.table td input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
   
}

.table .btn-group button{
    margin-right: 10px;

}
    
  }